* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #376AA3;
    cursor: pointer;
}

a:visited {
    color: #2A4E78;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: 2px solid #303030;
    color: #303030;
}

#navbar header {
    font-size: 26px;
    padding: 15px;
    border-bottom: 2px solid #303030
}

#navbar ul {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    position: relative;
    list-style: none;
    color: #303030;
    border-bottom: 1px solid ;
    width: 100%;
    padding: 15px;
}


#navbar a {
    display: block;
    font-size: 18px;
}

#main-doc {
    position: absolute;
    margin-left: 300px;
    margin-bottom: 100px;
    padding: 30px;
    width: calc(100% - 300px); 
}

.main-section {
    
}

.main-section header {
    font-size: 30px;
    font-weight: 500;
}

h3 {
    font-size: 22px;
    font-weight: 300;
}

.main-section article {
    padding: 10px;
}

.main-section li {

}

code {
    display: block;
    position: relative;
    text-align: left;
    word-wrap: normal;
    word-break: normal;
    background-color: #F0F0F0;
    margin: 10px 0 10px 0;
    padding: 20px;
    line-height: 1.7;
    color: #303030;
}

@media screen and (max-width: 815px), screen and (orientation: portrait) {
    #navbar {
        position: absolute;
        max-height: 275px;
        width: 100%;
        top: 0;
        margin: 0;
        padding: 0;
        z-index: 1;
        overflow: scroll;
        border-bottom: 2px solid #303030;
        text-align: center;
    }

    #navbar li {
        padding: 12px;
    }

    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 280px;
        width: 100%;
    }
}
